# 텍스트 처리
`textwrap`

## 문자열 줄바꿈

In [4]:
import textwrap
long_text = 'Life is too short, you need python. ' * 10
long_text

'Life is too short, you need python. Life is too short, you need python. Life is too short, you need python. Life is too short, you need python. Life is too short, you need python. Life is too short, you need python. Life is too short, you need python. Life is too short, you need python. Life is too short, you need python. Life is too short, you need python. '

In [6]:
result = textwrap.fill(long_text, width=50)
print(result)

Life is too short, you need python. Life is too
short, you need python. Life is too short, you
need python. Life is too short, you need python.
Life is too short, you need python. Life is too
short, you need python. Life is too short, you
need python. Life is too short, you need python.
Life is too short, you need python. Life is too
short, you need python.

# 데이터형

`datetime`,  `calendar`, `collections`,  `headq`, `pprint`, `bisect`, `enum`, `graphlib`

## 날짜

### 두 날짜의 차이 구하기

In [8]:
import datetime

# datetime.date 를 이용하여 날짜 객체 생성
day1 = datetime.date(2020,12,14)
day2 = datetime.date(1995, 6, 5)

In [16]:
diff = day1 - day2

diff #datetime.timedelta 객체가 생성

datetime.timedelta(days=9324)

In [17]:
diff.days

9324

In [ ]:
# 시분초까지 계산하기

In [27]:
time1 = datetime.datetime(2020,12,14,12,40,30)
print(time1.year, time1.month, time1.day, time1.hour, time1.minute, time1.second)

2020 12 14 12 40 30

### 요일 판별하기

In [28]:
day = datetime.date(2020,12,14) # 월요일

In [31]:
print(day.weekday(), day.isoweekday())

0 1

### 날짜,시간_  더하기, 빼기

In [33]:
today = datetime.date.today()
today

datetime.date(2022, 4, 5)

In [35]:
diff = datetime.timedelta(days=50)
diff

datetime.timedelta(days=50)

days, weeks, hours, minutes, seconds 를 파라미터로 설정가능

In [38]:
today + diff, today - diff

(datetime.date(2022, 5, 25), datetime.date(2022, 2, 14))

### 윤년확인

윤년을 True, False로 확인

In [40]:
import calendar
calendar.isleap(2022)

False

## collections

### 데크 (deque) 자료형

양방향 자료형

#### 회전

* 시계 +, 반시계 -

In [48]:
from collections import deque
a = [1,2,3,4,5]
q = deque(a)
q.rotate(2)
q, list(q)

(deque([4, 5, 1, 2, 3]), [4, 5, 1, 2, 3])

In [59]:
d = deque([1,2,3,4,5])
d.append(6)# 오른쪽 append
print(d)
d.appendleft(0) # 왼쪽 append
print(d)
print(d.pop())# 오른쪽 pop
print(d.popleft()) # 왼쪽 pop

deque([1, 2, 3, 4, 5, 6])
deque([0, 1, 2, 3, 4, 5, 6])
6
0

### 키 값이 있는 튜플

`collections.namedtuple`

In [3]:
# 리스트 속 튜플들
data = [
    ['홍길동', 23, '01099990001'], 
    ['김철수', 31, '01099991002'], 
    ['이영희', 29, '01099992003'],
]

#### namedtuple 자료형 생성

In [4]:
from collections import namedtuple
Employee = namedtuple('Employee', 'name, age, cellphone')

#### data 요소인 튜플을 namedtuple을 통해 변환

In [5]:
data = [Employee._make(emp) for emp in data]

#### 변경된 데이터의 특징 확인

In [6]:
emp = data[0]
print(emp.name, emp.age, emp.cellphone)

홍길동 23 01099990001

#### namedtuple 을 딕셔너리로 변환

In [7]:
emp._asdict()

{'name': '홍길동', 'age': 23, 'cellphone': '01099990001'}

#### namedtuple 의 인덱스 접근

In [8]:
print(emp[0], emp[1], emp[2])

홍길동 23 01099990001

#### namedtuple 값 변경

튜플과 같이 일반적으로는 변경할수없고 `_replace` 함수를 써서 변경가능하다

단 `_replace` 함수는 새로운 객체를 리턴해준다는 것을 기억하자

In [9]:
new_emp = emp._replace(name = "박길동")
print(emp)
print(new_emp)

Employee(name='홍길동', age=23, cellphone='01099990001')
Employee(name='박길동', age=23, cellphone='01099990001')

### Counter
`collections.Counter`

In [26]:
from collections import Counter

In [52]:
c = Counter("gallad")
c

Counter({'g': 1, 'a': 2, 'l': 2, 'd': 1})

In [53]:
c = Counter(['a','a','b','c','c','a'])
c

Counter({'a': 3, 'b': 1, 'c': 2})

In [75]:
cnt = Counter()
c = Counter({'a':1,"b":2})

Counter({'a': 1, 'b': 2})

In [71]:
c = Counter(cats=4, dogs=7)
# d = Counter(cats=10,dogs=1)
# c.update(d)
print(c)
print(list(c.elements()))

Counter({'dogs': 7, 'cats': 4})
['cats', 'cats', 'cats', 'cats', 'dogs', 'dogs', 'dogs', 'dogs', 'dogs', 'dogs', 'dogs']

In [72]:
c = Counter(['a','a','b','c','c','a'])
print(c.most_common(1))
print(c.most_common(2))

[('a', 3)]
[('a', 3), ('c', 2)]

In [73]:
c = Counter(a=4, b=2, c=0, d=2)
print(c)
print(list(c.elements()))

Counter({'a': 4, 'b': 2, 'd': 2, 'c': 0})
['a', 'a', 'a', 'a', 'b', 'b', 'd', 'd']

In [58]:
d = ['a','b','b','c']
c.subtract(d)
print(c)

Counter({'a': 3, 'd': 2, 'b': 0, 'c': -1})

In [59]:
e = ['a','e','b','b']
c.update(e)
print(c)

Counter({'a': 4, 'b': 2, 'd': 2, 'e': 1, 'c': -1})

In [68]:
f = Counter(['a','b','b','e','a','b'])
print(c+f) # 더하기
print(c-f) # 빼기 (0보다 같거나 작으면 표시 X)
print(c&f) # 교집합
print(c|f) # 합집합 (더하는게 아님, 마찬가지로 0보다 커야함)

Counter({'a': 6, 'b': 5, 'd': 2, 'e': 2})
Counter({'a': 2, 'd': 2})
Counter({'a': 2, 'b': 2, 'e': 1})
Counter({'a': 4, 'b': 3, 'd': 2, 'e': 1})

In [69]:
c.clear()
print(c)

Counter()

### 딕셔너리 초기값

`collections.defaultdict`

In [122]:
"Life is too short, You need python."

'Life is too short, You need python.'

위 문장에서 사용된 알파벳의 빈도수를 각각 구해 딕셔너리에 저장하고자 한다.

In [124]:
text = "Life is too short, You need python."

d = dict()
for c in text:
    if c not in d:
        d[c] = 0
    d[c] += 1

print(d)

{'L': 1, 'i': 2, 'f': 1, 'e': 3, ' ': 6, 's': 2, 't': 3, 'o': 5, 'h': 2, 'r': 1, ',': 1, 'Y': 1, 'u': 1, 'n': 2, 'd': 1, 'p': 1, 'y': 1, '.': 1}

위 처럼 기본값을 신경써줘야하는게 보통이다.

하지만 defaultdict 을 int 로 주면 기본값을 0으로 가지게 된다

In [125]:
from collections import defaultdict

text = "Life is too short, You need python."

d = defaultdict(int)
for c in text:
    d[c] += 1

print(dict(d))

{'L': 1, 'i': 2, 'f': 1, 'e': 3, ' ': 6, 's': 2, 't': 3, 'o': 5, 'h': 2, 'r': 1, ',': 1, 'Y': 1, 'u': 1, 'n': 2, 'd': 1, 'p': 1, 'y': 1, '.': 1}

###  우선순위 큐

`heapq`

In [128]:
data = [
    (12.23, "강보람"),
    (12.31, "김지원"),
    (11.98, "박시우"),
    (11.99, "장준혁"),
    (11.67, "차정웅"),
    (12.02, "박중수"),
    (11.57, "차동현"),
    (12.04, "고미숙"),
    (11.92, "한시우"),
    (12.22, "이민석"),
]

위 사람들에게 금, 은, 동을 주고자 한다. 가장 빠른 순서로 나타내라

#### 힙 heap 에 리스트 저장

In [131]:
import heapq

h = []  # 힙 생성
for score in data:
    heapq.heappush(h, score)  # 힙에 데이터 저장

for i in range(3):
    print(heapq.heappop(h))  # 최솟값부터 힙 반환

(11.57, '차동현')
(11.67, '차정웅')
(11.92, '한시우')

#### data 리스트를 힙으로 변경

데이터 자체를 heap 으로 변경

In [133]:
data1 = [
    (12.23, "강보람"),
    (12.31, "김지원"),
    (11.98, "박시우"),
    (11.99, "장준혁"),
    (11.67, "차정웅"),
    (12.02, "박중수"),
    (11.57, "차동현"),
    (12.04, "고미숙"),
    (11.92, "한시우"),
    (12.22, "이민석"),
]

heapq.heapify(data1)  # data를 힙 구조에 맞게 변경한다.

for i in range(3):
    print(heapq.heappop(data1))  # 최솟값부터 힙 반환

(11.57, '차동현')
(11.67, '차정웅')
(11.92, '한시우')

#### data 리스트 에서 바로 뽑아내기

In [136]:
import heapq

data3 = [
    (12.23, "강보람"),
    (12.31, "김지원"),
    (11.98, "박시우"),
    (11.99, "장준혁"),
    (11.67, "차정웅"),
    (12.02, "박중수"),
    (11.57, "차동현"),
    (12.04, "고미숙"),
    (11.92, "한시우"),
    (12.22, "이민석"),
]

print(heapq.nsmallest(3, data3)) # 1,2,3 등 출력
print(heapq.nlargest(3, data3)) # 꼴지 3등 출력

[(11.57, '차동현'), (11.67, '차정웅'), (11.92, '한시우')]
[(12.31, '김지원'), (12.23, '강보람'), (12.22, '이민석')]

### 보기좋게 print

`pprint`

In [141]:
result = {'userId': 1, 'id': 1, 'title': 'sunt aut facere repellat provident occaecati excepturi optio reprehenderit', 'body': 'quia et suscipit\nsuscipit recusandae consequuntur expedita et cum\nreprehenderit molestiae ut ut quas totam\nnostrum rerum est autem sunt rem eveniet architecto'}
result

{'userId': 1,
 'id': 1,
 'title': 'sunt aut facere repellat provident occaecati excepturi optio reprehenderit',
 'body': 'quia et suscipit\nsuscipit recusandae consequuntur expedita et cum\nreprehenderit molestiae ut ut quas totam\nnostrum rerum est autem sunt rem eveniet architecto'}

In [140]:
import pprint
pprint.pprint(result)

{'body': 'quia et suscipit\n'
         'suscipit recusandae consequuntur expedita et cum\n'
         'reprehenderit molestiae ut ut quas totam\n'
         'nostrum rerum est autem sunt rem eveniet architecto',
 'id': 1,
 'title': 'sunt aut facere repellat provident occaecati excepturi optio '
          'reprehenderit',
 'userId': 1}

### 이진탐색 bisect

#### 이상 bisect.bisect

점수 = [33, 99, 77, 70, 89, 90, 100] 인 학생들의 성적을 메겨라

* 90점 이상 : A
* 80점 이상 : B
* 70점 이상 : C
* 60점 이상 : D
* 0~59점 : F

In [143]:
import bisect

test = [33, 99, 77, 70, 89, 90, 100]


result = []
for score in test:
    pos = bisect.bisect([60, 70, 80, 90], score)  # 점수가 정렬되어 삽입될 수 있는 포지션을 반환
    grade = 'FDCBA'[pos]
    result.append(grade)

print(result)

['F', 'A', 'C', 'C', 'B', 'A', 'A']

#### 초과 bisect.bisect_left

* 90점 초과 : A
* 80점 초과 : B
* 70점 초과 : C
* 60점 초과 : D
* 0~69점 : F

In [144]:
result = []
for score in [33, 99, 77, 70, 89, 90, 100]:
    pos = bisect.bisect_left([60, 70, 80, 90], score)
    grade = 'FDCBA'[pos]
    result.append(grade)

print(result)

['F', 'A', 'C', 'D', 'B', 'B', 'A']

#### 자리에 값 넣기

In [148]:
import bisect

a = [60, 70, 80, 90]
bisect.insort(a, 85)
a

[60, 70, 80, 85, 90]

### 상수 집합

`enum`

In [149]:
from datetime import date


def get_menu(input_date):
    weekday = input_date.isoweekday()  # 1:월요일, 2:화요일, ... , 7: 일요일
    if weekday == 1:
        menu = "김치찌개"
    elif weekday == 2:
        menu = "비빔밥"
    elif weekday == 3:
        menu = "된장찌개"
    elif weekday == 4:
        menu = "불고기"
    elif weekday == 5:
        menu = "갈비탕"
    elif weekday == 6:
        menu = "라면"
    elif weekday == 7:
        menu = "건빵"
    return menu


print(get_menu(date(2020, 12, 6)))
print(get_menu(date(2020, 12, 18)))

건빵
갈비탕

In [158]:
from datetime import date
from enum import IntEnum

class Week(IntEnum):
    MONDAY = 1
    TUESDAY = 2
    WEDNESDAY = 3
    THURSDAY = 4
    FRIDAY = 5
    SATURDAY = 6
    SUNDAY = 7


def get_menu(input_date):
    menu = {
        Week.MONDAY: "김치찌개",
        Week.TUESDAY: "비빔밥",
        Week.WEDNESDAY: "된장찌개",
        Week.THURSDAY: "불고기",
        Week.FRIDAY: "갈비탕",
        Week.SATURDAY: "라면",
        Week.SUNDAY: "건빵",
    }
    return menu[input_date.isoweekday()]


print(get_menu(date(2020, 12, 6)))
print(get_menu(date(2020, 12, 18)))

건빵
갈비탕

In [169]:
from enum import IntEnum

class alp(IntEnum):
    a=1
    b=2
    c=3
    d=4

def alp_num(input1):
    alphabet ={
        alp.a:"apple",
        alp.b:"banana",
        alp.c:"coke",
        alp.d:"danawa",
    }
    return alphabet[input1]

print(alp_num(1))
print(alp_num(2))

apple
banana